@model IEnumerable<AsianFoodProject.Models.Food>

@{
    ViewBag.Title = "Shushi";
}

<h2>Shushi</h2>
<div class="row">
    @foreach (var food in Model)
    {
        <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:50px;">
            <div class="thumbnail">
                <img src=@food.ImageUrl>
                <div class="caption">
                    <h4 class="pull-right">@food.FoodPrice ₪</h4>
                    <h4>
                        <a href="@Url.Action("Details", new { id=food.FoodID })">@food.FoodName</a>
                    </h4>
                </div>
            </div>
        </div>

    }
</div>
