@{
    ViewBag.Title = "AsianFood";
}
<h2>@ViewBag.Title</h2>
<hr />

<h4>
    <br>
    AsianFood brings you the Far East, <br>
    in large doses with fascinating touches in all <br>
    familiar and unfamiliar Asian kitchens: Thai, Japanese,<br>
    Vietnamese, Singaporean, Korean and of course Chinese cuisine with all its culinary districts:<br>
    the Cantonese, the Szechuan and the Hunan.<br>
    <br />
    <img src="~/Images/3.jpg" width="250" height="150" />&nbsp;&nbsp;
    <img src="~/Images/10.jpg" width="250" height="150" />&nbsp;&nbsp;
    <img src="~/Images/japanese.jpg" width="250" height="150" />&nbsp;&nbsp;
    <img src="~/Images/a0000370_main.jpg" width="250" height="150" />&nbsp;&nbsp;
    <br />
    <br />
  
</h4>
<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/KO0TiBrxzJY" frameborder="0" allowfullscreen></iframe> <iframe width="560" height="315" src="https://www.youtube.com/embed/MVkQq24AFTs" frameborder="0" allowfullscreen></iframe>
