@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <div>
        <h1><b>AsianFood</b></h1>
        
    </div>
   

    <div id="transDemo2">
        <div class="hover">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div><h3><b>AsianFood Is Where You Need To Be</b></h3></div>
        <img src="~/Images/hanoi-romantic-dinner.jpg" width="90%" height="90%">
        <p style="text-align: center;">AsianFood is associated with the eating experience in Asia and means delicious or tasty. AsianFood is a casual dining venue that offers a single course dining experience and service with the minimum of fuss. Our ethos is to serve market fresh, locally sourced ingredients. Our healthy cuisine avoids the obscure chemicals and additives so common in our food today.</p>
    </div>

    <div class="col-md-4" align="center">
        <div><h3><b>Delicatess of the week! Ukashima Yukuturi</b></h3></div>
        <img src="~/Images/appetizer_in_red.jpg" width="90%" height="90%">
        <p style="text-align: center;"> Sweet Japanese pumpkin with Japanese omelet, avocado, and chives with grilled salmon and vegetables wrapped in smoked salmon with teriyaki sauce.</p>

    </div>

    <div class="col-md-4">
        <div><h3><b>Best Restourant Of 2017 By TripAdvisor </b></h3></div>
        <img src="~/Images/WINE.jpg" width="130%" height="130%">
        <p style="text-align: center;"> <i>"Amazing food! The vegetarian dishes were so tasty especially the aubergine and the corn on the cob were delicious! Stephen looked after us very well indeed. Really lovely vibe- great to go with friends or couples. We definitely have to go back soon" </i></p>

    </div>
</div>
